@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: #9089f0;
  transition: all 1s;
  cursor: pointer;
  color: #fff;
}
.btn:hover {
  background-color: #bfbeff;
}
.btn:active {
  transform: scale(0.9);
}
.icon {
  width: 2rem;
  height: 2em;
  margin: 0 1rem;
  stroke-width: 0;
  stroke: #000;
  fill: rgba(0, 0, 0, 0.534);
  transition: fill 0.5s, transform 1s;
  cursor: pointer;
}
.icon:hover {
  fill: #000;
}
.icon:active {
  transform: scale(0.9);
}
.icon-printer {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
@media print {
  .diagram-form {
    display: none !important;
  }
  .icon-printer {
    display: none !important;
  }
  .chord-name {
    display: block;
    border: none !important;
    margin: 0 auto !important;
  }
  .chord-tools {
    display: none !important;
  }
  .header__title {
    border: none !important;
  }
  .chord-diagrams {
    display: block !important;
    padding: 0 3rem !important;
    width: 100%;
  }
  .chord-fret {
    border: none !important;
  }
  .chord-fret--none {
    opacity: 0;
  }
  .diagram-container {
    page-break-inside: avoid;
    display: inline-block !important;
    margin: 0 1rem !important;
  }
  .app {
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 770px) {
  .app {
    padding: 10rem 1rem !important;
    width: 90% !important;
  }
}
body {
  background-image: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  margin: 10rem 0;
  padding: 10rem;
  width: 100%;
  max-width: 80rem;
  border-radius: 1rem;
  background-color: #fff;
}
.chord-diagrams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-content: center;
  align-items: center;
  min-height: 21.2rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.diagram-form {
  min-height: 30rem;
  height: 100%;
  max-height: 34rem;
  width: 16rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.diagram-form label {
  margin-bottom: 2rem;
}
.diagram {
  width: 150px;
  position: relative;
  margin: 0 auto 20px auto;
}
.diagram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid {
  height: 100%;
  width: 100%;
  display: grid;
}
.grid-background {
  position: absolute;
  top: 0;
  z-index: 1;
}
.grid__el > * {
  border: 1px solid #000;
}
.grid__el--no-border {
  border: none !important;
}
.grid__el--opacity-border {
  border: none !important;
}
.grid > * {
  border: 1px solid #000;
}
.note {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: none;
  justify-self: center;
  align-self: center;
  fill: transparent;
  cursor: pointer;
}
.note-container {
  z-index: 2;
  position: absolute;
  top: 0;
}
.note--fretted {
  fill: #000;
  border: none;
}
.note--open {
  stroke: #000;
  stroke-width: 3rem;
  border: none;
}
.chord-name {
  height: 3rem;
  width: 10rem;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.num-strings,
.num-frets {
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}
.chord-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chord-fret {
  width: 20px;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
  top: 38px;
  left: -20px;
  z-index: 10;
}
.header {
  width: 100%;
  position: relative;
}
.header__title {
  display: block;
  margin: 0 auto 2rem auto;
  height: 5rem;
  width: 90%;
  max-width: 50rem;
  text-align: center;
  font-size: 3rem;
}
