@use '../utils/variables';

.btn {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: rgb(144, 137, 240);
  transition: all 1s;
  cursor: pointer;
  color: variables.$color-white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: rgb(191, 190, 255);
  }
  &:active {
    transform: scale(0.9);
  }
}

.icon {
  width: 2rem;
  height: 2em;
  margin: 0 1rem;
  stroke-width: 0;
  stroke: black;
  fill: rgba(0, 0, 0, 0.534);
  transition: fill 0.5s, transform 1s;
  cursor: pointer;

  &:hover {
    fill: rgba(0, 0, 0, 1);
  }
  &:active {
    transform: scale(0.9);
  }
  &-printer {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }
}
