@use '../utils/variables';

@media print {
  .diagram-form {
    display: none !important;
  }
  .icon-printer {
    display: none !important;
  }
  .chord-name {
    display: block;
    border: none !important;
    margin: 0 auto !important;
  }
  .chord-tools {
    display: none !important;
  }
  .header__title {
    border: none !important;
  }
  .chord-diagrams {
    display: block !important;
    padding: 0 3rem !important;
    width: 100%;
  }
  .chord-fret {
    border: none !important;

    &--none {
      opacity: 0;
    }
  }
  .diagram-container {
    page-break-inside: avoid;

    display: inline-block !important;
    margin: 0 1rem !important;
  }

  // .body {
  //   display: block;
  // }
  .app {
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 770px) {
  .app {
    padding: 10rem 1rem !important;
    width: 90% !important;
  }
}

body {
  background-image: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  margin: 10rem 0;
  padding: 10rem;
  width: 100%;
  max-width: 80rem;
  border-radius: 1rem;
  background-color: variables.$color-white;
}

.chord-diagrams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-content: center;
  align-items: center;
  min-height: 21.2rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.diagram-form {
  min-height: 30rem;
  height: 100%;
  max-height: 34rem;
  width: 16rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(variables.$color-black, 0.02);
  border: 1px solid rgba(variables.$color-black, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.2);
  border-radius: 1rem;

  & label {
    margin-bottom: 2rem;
  }
}

.diagram {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  width: 150px;
  position: relative;
  margin: 0 auto 20px auto;
}

.grid {
  &-background {
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &__el {
    & > * {
      border: 1px solid variables.$color-black;
    }
    &--no-border {
      border: none !important;
    }
    &--opacity-border {
      border: none !important;
    }
  }
  height: 100%;
  width: 100%;
  display: grid;

  & > * {
    border: 1px solid variables.$color-black;
  }
}

.note {
  &-container {
    z-index: 2;
    position: absolute;
    top: 0;
  }
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: none;
  justify-self: center;
  align-self: center;
  fill: transparent;
  cursor: pointer;

  &--fretted {
    fill: variables.$color-notes;
    border: none;
  }
  &--open {
    stroke: variables.$color-notes;
    stroke-width: 3rem;
    border: none;
  }
}

.chord-name {
  height: 3rem;
  width: 10rem;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgba(variables.$color-black, 0.5);
}

.num-strings,
.num-frets {
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.chord-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chord-fret {
  width: 20px;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
  top: 38px;
  left: -20px;
  z-index: 10;
}

.header {
  width: 100%;
  position: relative;

  &__title {
    display: block;
    margin: 0 auto 2rem auto;
    height: 5rem;
    width: 90%;
    max-width: 50rem;
    text-align: center;
    font-size: 3rem;
  }
}
